################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Lxk.Core.Web.Host/.vs/Lxk.Core.Web.Host/v16
